.featureSection {
    margin-top: 75px;
    padding-bottom: 75px;
    max-width: 65%;
    font-family: 'Roboto', sans-serif;
}

.carouselImage {
    height:auto;
    width:100%;
}

.visually-hidden {
    display:none;
}

.carouselCaps {
    opacity: .9;
    font-size: 100%;
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .featureSection {
        max-width: 95%;
    }
}
