.featureSection {
    margin-top: 75px;
    padding-bottom: 75px;
    max-width: 1250px;
    font-family: 'Roboto', sans-serif;
}

.carouselImage {
    height:auto;
    width:100%;
}

.visually-hidden {
    display:none;
}

.carouselCaps {
    opacity: .9;
    font-size: 100%;
}