#homeBodyCon {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDE7D9;
}

.heroCon {
    display:flex;
    background-color: white;
    height:91vh;
}

#halfWithColor {
    display:flex;
    align-items: center;
    padding-left: 15%;
    padding-right: 2.5%;
}

#halfWithPicture {
    display:flex;
    padding-right: 15%;
    padding-left: 2.5%;
    max-width: 50%;
}

#homeTextCon {
    display:flex;
    flex-direction: column;
    color: #4B4237;
    align-items: center;
}

#homeBigText {
    font-size: 800%;
    line-height: .8;
    text-align: center;
    color:#726657;
}

#homeSmallText {
    margin-top: 5%;
    font-size: 150%;
    text-align: center;
}

#starbucks {
    color: #00704A;
}


#homepageImage {
    width:95%;
    height:auto;
    min-width: 450px;
}

#suppButt {
    background-color: #EDE7D9;
    width: fit-content;
    padding: 15px;
    font-family: 'Bebas Neue', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    font-size: 110%;
}

#suppButt:hover {
    transform:scale(1.1);
    cursor: pointer;
}