#shopBody {
    display:flex;
    background-color: #EDE7D9;
    font-family: 'Roboto', sans-serif;
}

#shopSidebar {
    display:flex;
    justify-content: center;
    margin-left: 1%;
    margin-right: 1%;
    height: fit-content;
}

#checkboxes {
    display:flex;
    flex-direction: column;
    position:sticky;
    top: 0;
    margin-top: 10px;
}

.checkboxLabels {
    display:flex;
    justify-content: space-between;
    margin-bottom: 15%;
    font-size:110%;
}

.checkboxInputs {
    margin-left: 40px;
}

input.checkboxInputs {
    transform:scale(1.5);
}

#shopMeat {
    display:flex;
}

#productCon {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.productDivs {
    margin:10px;
    transition: transform 0.3s ease-in-out 0s;
    position:relative;
    width:20%;
}

.productDivs:hover {
    transform: scale(1.1);
}

.productPics {
    width:100%;
    height:auto;
}

.productDesc {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 100%;
    flex-wrap: wrap;
    text-align: center;
}

.productDivs:hover .plusCheckIcons {
    opacity: 0.75;
}

.productDivs:active {
  transform: translateY(10px);
}

.productDivs:active #cartAndCount {
    transform: scale(1.5);
}

.cartProdPics {
    width:100px;
}

@media only screen and (max-width: 900px) {
    .productDivs {
        width: 40%;
    }
    .checkboxInputs {
        margin-left: 15px;
    }
    .checkboxLabels {
        font-size: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .productDivs {
        width: 35%;
    }
    .productDesc {
        font-size: 70%;
    }
    .checkboxInputs {
        margin-left: 10px;
    }
    .checkboxLabels {
        font-size: 80%;
    }
    input.checkboxInputs {
        transform:scale(1);
    }
}