.testimonialCon {
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.reviewTitle {
    font-size: 600%;
    text-align: center;
    opacity: .8;
    width:100%;
}

.reviewCon{
    width:50%;
    text-align: center;
    padding:30px;
}

.starsCon, .authorCon {
    font-size: 140%;
    font-family: 'Roboto', sans-serif;
}

.reviewContent {
    font-size: 115%;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 500px) {
    .reviewTitle {
        font-size: 300%;
    }
    .starsCon, .authorCon {
        font-size: 100%;
    }
    .reviewContent {
        font-size: 85%;
        padding:10px;
    }
}