html, body, #root, #appCon {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

#appCon {
    background-color: #EDE7D9;
    font-family: 'Bebas Neue', sans-serif;
    position:relative;
}

#headerCon {
    height: 10%;
    width:100%;
    background-color: #EDE7D9;
    display:flex;
    justify-content: center;
}

#titleCon {
    font-size: 180%;
    width: 80%;
    display:flex;
    justify-content: right;
    align-items: center;
    color:#4B4237;
}

#titleText {
    width:50%;
    display:flex;
    justify-content: center;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}

#linksAndCart {
    display: flex;
    width:50%;
    justify-content: right;
}

#linkCon {
    font-size: 80%;
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#homeLink {
    color:#4B4237;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

#shopLink {
    color:#4B4237;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bolder;
}

#shoppingCartIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartIcon {
    font-size: 175%;
    border-radius: 30px;
    background-color:#EDE7D9;
    color:#4B4237;
}

#cartCount {
    font-size: 90%;
    color:#4B4237;
}

#homeBodyCon {
    display:flex;
    justify-content: center;
    height:90%;
    background-color: #EDE7D9;
}

#halfWithColor {
    height:100%;
    width:40%;
    display:flex;
}

#homeTextCon {
    height: 75%;
    width:100%;
    display:flex;
    flex-direction: column;
    color: #4B4237;
    margin-top: 25%;
    align-items: center;
}

#homeBigText {
    font-size: 900%;
    line-height: 95%;
    text-align: center;
}

#homeSmallText {
    margin-top: 5%;
    font-size: 175%;
    text-align: center;
}

#starbucks {
    color: #D00000;
}

#halfWithPicture {
    height:100%;
    width:40%;
    display:flex;
    justify-content: center;
}

#homeImageCon {
    height:100%;
}

#homepageImage {
    height:99%;
}

#suppButt {
    background-color: #EDE7D9;
    width: fit-content;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Bebas Neue', sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5%;
    font-size: 110%;
}

#shopBody {
    display:flex;
    background-color: #EDE7D9;
}

#shopSidebar {
    min-width:175px;
    margin-right: 5%;
}

#checkboxes {
    display:flex;
    flex-direction: column;
    margin-left: 5%;
    position:sticky;
    top: 0;
    margin-top: 10px;
}

.checkboxLabels {
    display:flex;
    justify-content: space-between;
    margin-bottom: 15%;
    font-size:150%;
}

input.checkboxInputs {
    transform:scale(1.5);
}

#shopMeat {
    display:flex;
}

#productCon {
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.productDivs {
    margin:10px;
    transition: transform 0.3s ease-in-out 0s;
    position:relative;
}

.productDivs:hover {
    transform: scale(1.1);
}

.productPics {
    height: 350px;
}

.productDesc {
    display:flex;
    justify-content: center;
    font-size: 150%;
}

#addIcon {
    position: absolute;
    left: 50%;
    top:40%;
    transform: scale(15);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 0s;
}

.productDivs:hover #addIcon {
    opacity: 0.75;
}

.productDivs:active {
  transform: translateY(10px);
}

#cartContainer {
    position: absolute;
    top:3%;
    left:88%;
}

#cartAndCount {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
}